

body {
    background-color: #000000;
    color: black;
    font-family:intimacy;
    font-size: 20 px;
    
   
}
#titre1 {
    color: red;
    font-size:50 px;
    text-align:center;
    
}
.titre {
    color: green;
    font-size: 35 px;
    text-align: left;
    border-bottom: 1 px black solid;
    width: 125 px;
    
    
    
}
img{
    font-size:15 %;
    padding: 10 px;
    margin:20 px;
    border:5 px solid red;
    border-radius:10 px;
    background-color: blue;
    
}



th{
    color: green;
}
td{
   text-align: center;
}
